@model SampleBid2.Models.Player

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Player</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlayerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlayerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PerFormance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PerFormance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CotractNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CotractNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BacePrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BacePrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sold)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sold)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Team)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Team.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
