@model IEnumerable<SampleBid2.Models.Player>

@{
    ViewData["Title"] = "Index";
}
<div class="container">


    <h1 style="text-align:center">Players</h1>

    <p>
        <a class="btn btn-primary" asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PlayerName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PerFormance)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CotractNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BacePrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sold)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Team.TeamName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PlayerName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PerFormance)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CotractNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BacePrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sold)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Team.TeamName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id"> <i class="btn fa fa-edit btn-warning "></i> </a> 
                        <a asp-action="Details" asp-route-id="@item.Id"> <i class="btn fa fa-folder  btn-primary"> </i> </a> 
                        <a asp-action="Delete" asp-route-id="@item.Id"> <i class="btn fa fa-trash  btn-danger"> </i> </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
