@model IEnumerable<SampleBid2.Models.Trophy>

@{
    ViewData["Title"] = "Index";
}
<div class="container">

<h1 style="text-align:center"> Trophies </h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Trop_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team.TeamName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Trop_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Team.TeamName)
            </td>
            <td>
                        <a asp-action="Edit" asp-route-id="@item.Id"><i class="btn fa fa-edit btn-warning "> </i></a> |
                        <a asp-action="Details" asp-route-id="@item.Id"><i class="btn fa fa-folder  btn-primary"> </i></a> |
                        <a asp-action="Delete" asp-route-id="@item.Id"> <i class="btn fa fa-trash  btn-danger"> </i> </a>
            </td>
        </tr>
}
    </tbody>
</table>

</div>
